@use './var.scss';
@use './reset.scss';
@use './markdown.scss';
@use './resume.scss';

a {
  display: inline-block;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  color: var(--wr-c-text);
  background-color: var(--wr-c-bg-soft);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-color: rgba(100, 100, 100, 0.5);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}
