.text-kaiti {
  font-family: '华文楷体', STKaiti, KaiTi, serif;
  font-weight: 900;
}

.resume {
  padding: 20px 50px;
  font-size: 14px;

  margin: auto;
  max-width: 1200px;

  background-color: var(--wr-c-resume-bg);

  a {
    color: var(--wr-c-link);
  }

  img {
    display: inline-block;
  }

  h2 + hr {
    margin: 5px auto;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;

    li {
      padding-left: 16px;

      > span {
        position: relative;
        left: -6px;
      }
    }
  }

  .brand-favicon {
    height: 18px;
    padding-bottom: 2px;
  }

  summary,
  details {
    outline: none;
    cursor: pointer;
  }

  summary {
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  .resume {
    padding: 20px;
  }
}

// components
.resume-btn {
  cursor: pointer;
  border: 2px solid var(--wr-btn-border-color);
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
  transition: 0.2s;
  outline: none;

  &:hover,
  &:focus,
  &.active {
    color: var(--wr-btn-active-text-color);
    background-color: var(--wr-btn-border-color);
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.disabled {
    --wr-btn-border-color: lightgray;
    color: gray;
    @apply cursor-not-allowed;

    &:hover {
      background-color: transparent;
    }
  }
}

.resume-input {
  border-radius: 2px;
  border: 1px solid var(--wr-btn-border-color);
  width: 90%;
  padding: 0.6rem 1rem;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}
