:root {
  --top-nav-height: 52px;
  --bottom-menu-height: 60px;
}

:root {
  --ylf-c-primary: dodgerblue;
}

:root {
  --wr-c-bg: white;
  --wr-c-bg-soft: #f9f9f9;

  --wr-c-resume-bg: white;

  --wr-c-text: #121212;
  --wr-c-link: #0078e7;
  --wr-c-border: black;
  --wr-btn-border-color: var(--wr-c-border);
  --wr-btn-active-text-color: white;
}

.dark {
  --wr-c-bg: #121212;
  --wr-c-bg-soft: #1a1a1a;

  --wr-c-resume-bg: #1a1a1a;

  --wr-c-text: #f3f4f6;
  --wr-c-link: dodgerblue;
  --wr-c-border: white;
  --wr-btn-active-text-color: black;
}

// z-index
:root {
  --top-nav-z-index: 100;
  --bottom-menu-z-index: 100;
}
