:root {
  --vp-c-brand-1: #0078e7;
  --vp-c-brand-2: #1688ee;
  --vp-c-brand-3: #3298f4;
  --vp-c-brand-soft: rgb(0 120 231 / 14%);
  --vp-c-bg-alt: #f4f5ef;
  --vp-home-hero-name-color: var(--vp-c-brand-1);
}

.dark {
  --vp-c-brand-1: #59aaf5;
  --vp-c-brand-2: #3298f4;
  --vp-c-brand-3: #1688ee;
  --vp-c-brand-soft: rgb(30 144 255 / 18%);
  --vp-c-bg-alt: #252624;
}
